@import "./fonts.scss";
@import "./vars.scss";
@import "./resets.scss";

body {
  background: $background-dark;
  height: 100vh;
}

.main {
  padding: 0rem 3rem;
  width: 100%;
  height: calc(100vh- 3rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  // background: gray;
  text-align: center;

  &-name {
    text-transform: uppercase;
    font-weight: 700;
    color: $text-light;
    font-size: 3rem;

    & input[type=text] {
      background: transparent;
      border: none;
      color: $sub-text-light;
      text-align: center;
    }
  }

  &-description {
    opacity: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: $sub-text-light;
    font-size: 1.75rem;
  }
}

.mid {
  opacity: 0;
  margin: 2rem 0rem;
}

.bottom {
  opacity: 0;
}

.temp {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 0.75rem;
    font-size: 1.5rem;
    color: $sub-text-light;

    &:nth-child(3) {
      font-size: 2rem;
      color: $text-light;
    }
  }

  &-spacer {
    font-size: 1rem;
    color: $sub-text-light;
  }
}

.others {
  margin-top: .75rem;
  display: flex;
  justify-content: center;
  color: $sub-text-light;

  &-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem .75rem;

    svg {
      padding-bottom: .2rem;
    }
  }
}

svg {
  height: 1.7rem;
  width: 1.75rem;
  margin: 0.2rem;

  path {
    fill: $sub-text-light;
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: $sub-text-light;

  &>p:last-child {
    margin-left: 5px;
  }

  &-item {
    font-weight: 600;
  }
}